.page {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  /* justify-content: space-between; */
  margin-right: 150px;
}
.container {
  padding: 10px;
  margin: 10px;
}

.spinner {
  justify-content: center;
  align-items: center;
  margin: 15% auto;
}

.tag {
  /* justify-content: right !important; */
  align-items: right;
  font-size: 16;
  color: white;
  background: black;
  padding: 10px;
  width: 130px;
  height: 30px;
}

.image {
  width: 300px;
  padding-top: 20px;
}

.name {
  font-size: 20;
}
.line {
  background: orange;
  width: 50px;
  height: 1.5px;
  margin: 0px auto;
}

.price {
  margin-top: 30px;
  font-weight: bold;
  font-size: 22px;
}

.size {

}

.button {
  color: white;
  background: #000;
  padding: 20px 80px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.filterContainer {
  margin-right: 50px;
}

.filterBtn {
  border: none;
  border-radius: 50%;
  color: rgb(82, 82, 82);
  background: rgb(225, 225, 225);
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;

}

.filterBtn:hover{
color: white;
background: black;
}

.notFound {
  margin: 300px auto;
  position: absolute;
}

.cart {
  background: black;
  color: white;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin-left: 94%;
  /* margin-right: 50px; */
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
}
.cartIcon {
  margin-top: -2px;
}

.closeIcon {
  margin-top: 8px;
}
.count {
  background: yellow;
  color: black;
  border-radius: 100%;
  margin-top: -10px;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.drawerContainer {
  background: black;
  color: white;
  width: 1900px;
}
